.solid-select-container * {
  box-sizing: border-box;
  border: 0px solid transparent;
}
.solid-select-container[data-disabled="true"] {
  pointer-events: none;
}
.solid-select-container {
  position: relative;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 0.25rem;
  min-width: 5rem;
}
.solid-select-control {
  border: 1px solid rgb(229, 231, 235);
  border-radius: inherit;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding: 0.25rem 0.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.solid-select-control[data-disabled="true"] {
  background-color: rgb(243, 244, 246);
  border-color: rgb(209, 213, 219);
}
.solid-select-control[data-multiple="true"][data-has-value="true"] {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 0.25rem;
}
.solid-select-control:focus-within {
  outline-color: rgb(209, 213, 219);
}
.solid-select-placeholder {
  color: rgb(156, 163, 175);
  grid-column-start: 1;
  grid-row-start: 1;
}
.solid-select-single-value {
  grid-column-start: 1;
  grid-row-start: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.solid-select-multi-value {
  background-color: rgb(243, 244, 246);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  font-size: 85%;
  padding-left: 4px;
  padding-right: 4px;
  min-width: 20px;
}
.solid-select-multi-value > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.solid-select-multi-value-remove {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.solid-select-multi-value-remove:hover {
  text-shadow:
    1px 1px 3px rgb(0 0 0 / 29%),
    2px 4px 7px rgb(73 64 125 / 35%);
}
.solid-select-input {
  background-color: transparent;
  border-width: 0px;
  flex: 1 1 0%;
  margin: 0px;
  padding: 0px;
  caret-color: transparent;
  grid-column-start: 1;
  grid-row-start: 1;
  font: inherit;
  outline: none;
}
.solid-select-input:read-only {
  cursor: default;
}
.solid-select-input[data-multiple="true"] {
  caret-color: currentColor;
}
.solid-select-input[data-is-active="true"] {
  caret-color: currentColor;
}
.solid-select-list {
  background-color: inherit;
  border-radius: 0.125rem;
  margin-top: 0.25rem;
  max-height: 50vh;
  width: 100%;
  overflow-y: auto;
  padding: 0.5rem;
  position: absolute;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 10px 15px -3px rgb(0 0 0/0.1),
    0 4px 6px -4px rgb(0 0 0/0.1);
  z-index: 1;
}
.solid-select-option:hover {
  background-color: rgb(229, 231, 235);
}
.solid-select-option[data-focused="true"] {
  background-color: rgb(243, 244, 246);
}
.solid-select-option mark {
  background-color: unset;
  color: unset;
  text-decoration-line: underline;
}
.solid-select-option {
  cursor: default;
  padding: 0.5rem 1rem;
  user-select: none;
}
.solid-select-option[data-disabled="true"] {
  pointer-events: none;
  color: rgb(156, 163, 175);
}
.solid-select-list-placeholder {
  cursor: default;
  padding: 0.5rem 1rem;
  user-select: none;
}
