.custom {
  &.solid-select-container {
    color: #fa7f25;
  }

  .solid-select-control {
    border-color: #fca560;
    &:focus-within {
      outline-color: #fca560;
    }
  }

  .solid-select-placeholder {
    color: #fca560;
  }

  .solid-select-option {
    &:hover {
      background-color: #fa7f25;
      color: #fff;
    }
    &[data-focused="true"] {
      background-color: #fca560;
      color: #fff;
    }
  }
}
