.solid-select-container[data-disabled="true"] {
  pointer-events: none;
}
.solid-select-container {
  position: relative;
}
.solid-select-control[data-disabled="true"] {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}
.solid-select-control {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  border-radius: 0.25rem;
  border-width: 1px;
  display: -ms-grid;
  display: grid;
  line-height: 1.5;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.solid-select-control[data-multiple="true"][data-has-value="true"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  grid-gap: 0.25rem;
  gap: 0.25rem;
}
.solid-select-control:focus-within {
  --tw-outline-opacity: 1;
  outline-color: rgba(209, 213, 219, var(--tw-outline-opacity));
}
.solid-select-placeholder {
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
  grid-column-start: 1;
  grid-row-start: 1;
}
.solid-select-single-value {
  grid-column-start: 1;
  grid-row-start: 1;
}
.solid-select-multi-value {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 85%;
  line-height: 1;
  line-height: inherit;
  padding-left: 4px;
  padding-right: 4px;
}
.solid-select-multi-value-remove {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.solid-select-multi-value-remove:hover {
  text-shadow:
    1px 1px 3px rgb(0 0 0 / 29%),
    2px 4px 7px rgb(73 64 125 / 35%);
}
.solid-select-input {
  background-color: transparent;
  border-width: 0px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  margin: 0px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 0px;
  caret-color: transparent;
  grid-column-start: 1;
  grid-row-start: 1;
  font: inherit;
}
.solid-select-input:read-only {
  cursor: default;
}
.solid-select-input[data-multiple="true"] {
  caret-color: currentColor;
}
.solid-select-input[data-is-active="true"] {
  caret-color: currentColor;
}
.solid-select-list {
  background-color: inherit;
  border-radius: 0.125rem;
  margin-top: 0.25rem;
  max-height: 50vh;
  min-width: 100%;
  overflow-y: auto;
  padding: 0.5rem;
  position: absolute;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0/0.1), 0 4px 6px -4px rgb(0 0 0/0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  white-space: nowrap;
  z-index: 1;
}
.solid-select-option:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}
.solid-select-option[data-focused="true"] {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}
.solid-select-option > mark {
  --tw-bg-opacity: 1;
  background-color: rgba(unset, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(unset, var(--tw-text-opacity));
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.solid-select-option {
  cursor: default;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.solid-select-option[data-disabled="true"] {
  pointer-events: none;
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
}
.solid-select-list-placeholder {
  cursor: default;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
